<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购物车-{cfg:(site_title,sys)}</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
</head>
<body>
{include(header)}
<div class="cartok">
	<div class="xbox1">
		<li><img src="images/cart.png" style="float:left;width:60px;"><span style="float:left;margin:30px 0px 0px 50px">购物车还是空的，<a href="./" style="color:#ff6600">跳去首页</a></span></li>
	</div>
</div>
{include(footer)}
</body>
</html>