<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>编辑文章-{cfg:(site_title,sys)}</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.ajax.js"></script>
<script src="/common/js/kj.dialog.js"></script>
<script src="/common/js/date.js"></script>
<style>
body{background:#fff}
</style>
</head>
<body>
{include(shop.header)}
<div class="pMenu" id="id_pMenu" style="width:100%">
	<li class="sel" onclick="shop.edittabel(0);">基本信息</li>
	<li onclick="shop.edittabel(1);">扩展信息</li>
</div>
<div class="pMain" id="id_main">
<input type="hidden" name="article_channel_id" value="{$editinfo['article_channel_id']}">
<input type="hidden" name="article_state" value="{$editinfo['article_state']}">
<table class='pEditTable'>
<tr class='pTabTitRow'><td class='pTabTitCol' colspan="2"></td></tr>
<tr>
	<td class="pTabColName">标&nbsp;&nbsp;题：</td><td class="pTabColVal"><input type="text" name="article_title" id="id_article_title" value="{$editinfo['article_title']}" class='pTxt1 pTxtL300' required ruletips="请输入标题"></td></tr>
<tr>
	<td class="pTabColName">内容：</td><td class="pTabColVal"><textarea name="article_content" id="article_content" cols="60" rows="5" style="display:none">{$editinfo['article_content']}</textarea>{fun_get::editor('article_content','admin')}</td></tr>
</table>
<!--label 2 end-->
<table class='pEditTable' style='display:none'>
<tr class='pTabTitRow'><td class='pTabTitCol' colspan="2"></td></tr>
<tr>
	<td class="pTabColName">跳转链接：</td><td class="pTabColVal"><input type="checkbox" name="article_islink" value="{$editinfo['article_islink']}" onclick="if(this.checked){kj.show('#id_linkurl');}else{kj.hide('#id_linkurl');}"{if($editinfo['article_islink']==1)} checked{/if}>&nbsp;&nbsp;<span id="id_linkurl"{if($editinfo['article_islink']!=1)} style="display:none"{/if}><input type="text" name="article_linkurl" value="{if(empty($editinfo['article_linkurl']))}http://{else}{$editinfo['article_linkurl']}{/if}" class='pTxt1 pTxtL300'></span></td></tr>
<tr>
	<td class="pTabColName">标题样式：</td><td class="pTabColVal" style="line-height:25px"><input type="checkbox" name="article_css[]" value="fonw-weight:bold" onclick="if(this.checked){kj.set('#id_article_title','style.fontWeight','bold');}else{kj.set('#id_article_title','style.fontWeight','normal');}" id="id_css_bold">加粗&nbsp;&nbsp;<input type="checkbox" name="article_css[]" value="font-style:italic" onclick="if(this.checked){kj.set('#id_article_title','style.fontStyle','italic');}else{kj.set('#id_article_title','style.fontStyle','normal');}" id="id_css_italic">斜体&nbsp;&nbsp;
		<select name="article_css[]" id="id_css_color" style="width:50px" onchange="kj.set('#id_article_title','style.color',this.value.replace('color:',''));">
		<option value="" style=""></option>
		<option value="color:#ff0000" style="background:#ff0000" {if(in_array('color:#ff0000' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#0000ff" style="background:#0000ff" {if(in_array('color:#0000ff' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#ff8800" style="background:#ff8800" {if(in_array('color:#ff8800' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#00ff00" style="background:#00ff00" {if(in_array('color:#00ff00' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#660099" style="background:#660099" {if(in_array('color:#660099' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#999999" style="background:#999999" {if(in_array('color:#999999' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#009933" style="background:#009933" {if(in_array('color:#009933' , $editinfo['article_css']))} selected{/if}></option>
		<option value="color:#990099" style="background:#990099" {if(in_array('color:#990099' , $editinfo['article_css']))} selected{/if}></option>
		</select>	
	<span class="pBeta"></span></td>
	</tr>
	<tr>
		<td class="pTabColName">属&nbsp;&nbsp;性：</td><td class="pTabColVal">
		{foreach($arr_attribute as $item=>$key)}
			<input type="checkbox" name="article_attribute[]" value="{$item}"{if(in_array($item , $editinfo['article_attribute']))} checked{/if}>{$key}&nbsp;&nbsp;
		{/foreach}
		</td></tr>
	<tr>
		<td class="pTabColName">图片：</td><td class="pTabColVal"><input type="text" name="article_pic_big" id="id_article_pic_big" value="{$editinfo['article_pic_big']}" class='pTxt1 pTxtL300'>&nbsp;<a href="javascript:kj.dialog({id:'dialog_attatch',title:'选择图片',url:'common.php?app=other&app_act=attatch&url_objid=id_article_pic_big',w:600,showbtnhide:false,max_h:750,type:'iframe'});">选择</a><br><iframe name="frm_article_pic_big" src="common.php?app=other&app_act=upload&small=1" width="300px" height="30px" frameborder=0 scrolling="no"></iframe></td>
		</tr>
	<tr>
		<td class="pTabColName">小图：</td><td class="pTabColVal"><input type="text" name="article_pic" id="id_article_pic" value="{$editinfo['article_pic']}" class='pTxt1 pTxtL300'>&nbsp;<a href="javascript:kj.dialog({id:'dialog_attatch',title:'选择图片',url:'common.php?app=other&app_act=attatch&url_objid=id_article_pic',w:600,showbtnhide:false,type:'iframe'});">选择</a><br><iframe name="frm_article_pic" src="common.php?app=other&app_act=upload&callback=upload_callback_small" width="300px" height="30px" frameborder=0 scrolling="no"></iframe></td>
		</tr>
	<tr>
		<td class="pTabColName">简介：</td><td class="pTabColVal"><textarea name="article_intro" rows="5" cols="90">{$editinfo['article_intro']}</textarea></td></tr>

	<tr>
		<td class="pTabColName">作&nbsp;&nbsp;者：</td><td class="pTabColVal"><input type="text" name="article_author" value="{$editinfo['article_author']}" class='pTxt1 pTxtL150'></td></tr>
	<tr>
		<td class="pTabColName">来&nbsp;&nbsp;源：</td><td class="pTabColVal"><input type="text" name="article_source" value="{$editinfo['article_source']}" class='pTxt1 pTxtL150'></td></tr>
	<tr>
		<td class="pTabColName">标&nbsp;&nbsp;签：</td><td class="pTabColVal"><input type="text" name="article_tag" value="{$editinfo['article_tag']}" class='pTxt1 pTxtL500'><span class="pBeta">用户于搜索优化</span></td></tr>
</table>
<div class="peFootAct" id="id_pFootAct">
	<li>
	<input type="button" name="dosubmit" value="保存" onclick="thisjs.get_cont();shop.frm_ajax('save_article' , function(){thisjs.clear_cont();});" class="btn-1">
	</li>
</div>
{include(shop.footer)}
<script>
function upload_callback(info){
	var obj = kj.json(info);
	var objx;
	if('url' in obj) {
		kj.obj("#id_article_pic_big").value=obj.url;
		objx = kj.obj("#id_img_pic_big");
		if(objx) objx.src = kj.url_view(obj.url);
	}
	if('url_small' in obj) {
		kj.obj("#id_article_pic").value=obj.url_small;
		objx = kj.obj("#id_img_pic");
		if(objx) objx.src = kj.url_view(obj.url_small);
	}
}
function upload_callback_small(info){
	var obj = kj.json(info);
	if('url' in obj) kj.obj("#id_article_pic").value=obj.url;
}
function attatch_callback(data) {
	if( 'objid' in data && 'url' in data ) {
		var obj
		if(data.objid == 'id_article_pic_big') {
			obj = kj.obj("#id_img_pic_big");
			if(obj) obj.src = kj.url_view(data.url);
		}
		if(data.objid == 'id_article_pic') {
			obj = kj.obj("#id_img_pic");
			if(obj) obj.src = kj.url_view(data.url);
		}
	}
	kj.dialog.close("#windialog_attatch");
}

var thisjs = new function() {
	//因为这里用ajax，fckeditor不会取到内容，所以自己取
	this.get_cont = function() {
		kj.obj("#article_content").value = objEditor.getContent(); //这就是内容
	}
	//ajax 提交后，还得清空内容
	this.clear_cont = function() {
		//只有当添加时才要清空
		{if(empty($editinfo['article_id']))}
			objEditor.setContent('');
		{/if}
	}
}
</script>
</body>
</html>
<script src="/common/js/kj.alert.js"></script>
<script src="/common/js/kj.rule.js"></script>
<script src="shop.js"></script>