<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商品管理-商家管理-{cfg:(site_title,sys)}</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
</head>
<body>
{include(header)}
{include(shop.header)}
{include(shop.left)}
<div class="uright">
	<div class="pMenu" id="id_pMenu">
		<li class="sel">管理</li>
		<li onclick="parent.kj.dialog({id:'add',title:'添加餐品',url:'{fun_get::url(array('app_act'=>'edit'))}',w:800,max_h:650,showbtnhide:false,type:'iframe'});" class="x_btn">添加</li>
		<li onclick="shop.menu_display(0);" class = "x_btn">查找</li>
		<li class="fdpic" onclick="parent.kj.dialog({id:'field',title:'设置字段',url:'common.php?app=config&app_module=user&dir={$app_dir}&key=meal.menu&filename=meal',w:400,max_h:650,showbtnhide:false,type:'iframe'});">&nbsp;</li>
	</div>
	<div class="btnMenuDiv" id="id_btnMenuDiv"{if($arr_list['issearch']==0)} style="display:none"{/if}>
	<li>分&nbsp;组：{$s_group_html}</li>
	<li>关 键 字：<input type="text" id="s_key" name="s_key" value="{fun_get::get('s_key')}" class="pTxt1">　<input type="button" name="btn_s_ok" value="查找" class="btn-1" onclick="shop.search();"> 　<input type="button" name="btn_s_clear" value="清空" class="btn-2" onclick="shop.clear_search();"></li>
	</div>

	<div class="pTableMain " id="id_main">
		<div class="pTableBox" id="id_table_box">
			<div class='pTableTit' id="id_table_title">
				<li><span class="x_tit" style="width:25px">&nbsp;</span></li>
				<li><span class="x_tit" style="cursor:none;width:120px"></span></li>
				{foreach($arr_list["tabtit"] as $item)}
					<li><span class="x_tit"{if($item["w"]>0)} style="width:{$item["w"]}px"{/if} onclick="shop.table.list1.sort('{$item['key']}')">{$item["name"]}
					{if(isset($arr_list['sort'][$item['key']]))}<img src="images/sort_{$arr_list['sort'][$item['key']]}.png">{/if}</span><span class="x_split"></span></li>
				{/if}
			</div>
			<div class="pTableList" id="id_table_list">
				<div class='pTable' id="id_table">
					{foreach($arr_list['list'] as $item)}
					<div class='pTabRow'>
						<li><input type='checkbox' name='selid[]' value="{$item['menu_id']}"></li>
						<li>
						{if($this_limit->chk_act("edit"))}
						<input type="button" name="btnExe" value="编辑" onclick="parent.kj.dialog({id:'edit',title:'编辑餐品',url:'{fun_get::url(array('app_act'=>'edit','id'=>$item['menu_id']))}',w:800,max_h:650,showbtnhide:false,type:'iframe'});" class="btn-1">&nbsp;&nbsp;{/if}
						{if($this_limit->chk_act("delete"))}
						<input type="button" name="btnExe" value="删除" onclick="shop.ajax_delete({$item['menu_id']});" class="btn-2">
						{/if}
						</li>
						{foreach($arr_list["tabtd"] as $field)}
							{if($field=='menu_sort')}
							<li><input type='text' name='sortval_{$item['menu_id']}' value="{$item['menu_sort']}" style="width:20px" onfocus="thisjs.sortfocus(this);"></li>
							{else}
							<li>{if(empty($item[$field]))}&nbsp;{else}{$item[$field]}{/if}</li>
							{/if}
						{/foreach}
					</div>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<li{if($arr_list['pagebtns']['pre']<1)} class="xnone"{/if}><a href="{if($arr_list['pagebtns']['pre']<1)}javascript:void(0);{else}{fun_get::url(array('page'=>''))}&page={$arr_list['pagebtns']['pre']}{/if}">上一页</a></li>
		{if($arr_list['pagebtns']['start']!=1)}<li><a href="{fun_get::url(array('page'=>''))}&page=1">1</a></li>{/if}
		{if($arr_list['pagebtns']['start']>2)}
			<li class="xnone"><font>...</font></li>
		{/if}
		{foreach($arr_list['pagebtns']['list'] as $item)}
		<li{if(fun_get::get('page',1)==$item)} class="xsel"{/if}><a href="{fun_get::url(array('page'=>''))}&page={$item}">{$item}</a></li>
		{/foreach}
		{if($arr_list['pagebtns']['end']<$arr_list['pageinfo']['pages']-1)}
			<li class="xnone"><font>...</font></li>
		{/if}
		{if($arr_list['pagebtns']['end']<$arr_list['pageinfo']['pages'])}
		<li><a href="{fun_get::url(array('page'=>''))}&page={$arr_list['pageinfo']['pages']}">{$arr_list['pageinfo']['pages']}</a></li>
		{/if}
		<li{if($arr_list['pagebtns']['next']<1)} class="xnone"{/if}><a href="{if($arr_list['pagebtns']['next']<1)}javascript:void(0);{else}{fun_get::url(array('page'=>''))}&page={$arr_list['pagebtns']['next']}{/if}">下一页</a></li>
		</li>
	</div>
	<div class="pFootAct" id="id_pFootAct">
	<li>
	<label><input type='checkbox' name='selall' value='1'>全选</label>　
	<select name="selact" onchange="thisjs.selact(this.value)">
		<option value="">--操作--</option>
			{if($this_limit->chk_act("group"))}<option value="group">分组</option>{/if}
			{if($this_limit->chk_act("state"))}<option value="state">状态</option>{/if}
			{if($this_limit->chk_act("tj"))}<option value="tj">推荐</option>{/if}
			{if($this_limit->chk_act("sort"))}<option value="sort">排序</option>{/if}
			{if($this_limit->chk_act("delete"))}<option value="delete">删除</option>{/if}
		</select>&nbsp;<span id="id_selact_group" style="display:none">
		{$group_html}
		</span>&nbsp;<span id="id_selact_state" style="display:none">
		<select name="state_val">
		{foreach($arr_state as $item=>$key)}
		<option value="{$key}">{$item}</option>
		{/foreach}
		</select>
		</span>
		<span id="id_selact_tj" style="display:none">
		<select name="tj_val">
		<option value="1">是</option>
		<option value="0">否</option>
		</select>
		</span>
		<input type="button" name="btnExe" value="执行" onclick="shop.selact();" class="btn-1">
	</li>
	</div>
</div>
{include(shop.footer)}
{include(footer)}
</body>
</html>
<script src="shop.js"></script>
<script src="shop.table.js"></script>
<script>
//初始化表格控件
kj.onload(function(){
	shop.table.list1.init('#id_table_title' , '#id_table');
});
//自动保存
shop.table.list1.save_resize = function() {
	var lng_w = (kj.w(this.field));
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=save_resize&filename=meal&key=meal.menu&index=" + this.fieldsindex + "&w=" + lng_w , function(data){
		//alert(data);
	});
}
shop.table.list1.sort = function(key) {
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=sort&key=meal.menu&filename=meal&sortby=" + key , function(data){
			var obj_data=kj.json(data);
			if(!obj_data.isnull) {
				shop.refresh();
			}
	});
}
//当前页面js对象
var thisjs = new function() {
	this.selact = function(val) {
		kj.obj("#id_selact_state").style.display = (val == "state") ? "" : "none";
		kj.obj("#id_selact_group").style.display = (val == "group") ? "" : "none";
		kj.obj("#id_selact_tj").style.display = (val == "tj") ? "" : "none";
		if(val=='sort') {
			kj.show(".css_sort");
		} else {
			kj.hide(".css_sort");
		}
	}
	//当编辑时，ajax刷新
	this.ajax_refresh = function() {
		kj.ajax.get("{fun_get::url(array('app_act'=>'refresh_list'))}" , function(data) {
			var obj = kj.json(data);

				var html = '';
				for(var i = 0 ; i < obj['list'].length ; i++ ) {
					html += "<div class='pTabRow'>";				
					html += "<li><input type='checkbox' name='selid[]' value='" + obj['list'][i]['menu_id'] + "'></li>";
					html += '<li>';
					html += '<input type="button" name="btnExe" value="编辑" onclick="kj.dialog({id:\'edit\',title:\'编辑餐品\',url:\'?app_act=edit&app={$app}&app_module={$app_module}&id='+obj['list'][i]['menu_id']+'\',w:800,max_h:750,showbtnhide:false,type:\'iframe\'});" class="pBtn">&nbsp;&nbsp;';
					html += '<input type="button" name="btnExe" value="删除" onclick="shop.ajax_delete('+obj['list'][i]['menu_id']+');" class="pBtn2">';
					html += '</li>';
					for(j = 0 ; j < obj["tabtd"].length ; j++) {
						html += '<li>';
						if(obj["tabtd"][j] in obj['list'][i]) { html += obj['list'][i][obj["tabtd"][j]]; } else {html += "&nbsp;" }
						html += "</li>";
					}
					html += '</div>';
				}
				kj.obj("#id_table").innerHTML = html;
				shop.table.list1.init('#id_table_title' , '#id_table');
		});
	}
}
//全选效果
kj.handler(":selall","click",function(){
	var tr = kj.parent( "input<<name,selid[]" , "div");
	if(this.checked) {
		kj.addClassName(tr,'pRowSel');
		kj.set("input<<name,selid[]","checked",true);
		kj.set("input<<name,selid2[]","checked",true);
	} else {
		kj.delClassName(tr,'pRowSel');
		kj.set("input<<name,selid[]","checked",false);
		kj.set("input<<name,selid2[]","checked",false);
	}
});
kj.handler("input<<name,/^selid/i","click",function(){
	var tr = kj.parent( this , "div");
	if(this.checked) {
		kj.delClassName(tr,'pRowMove');
		kj.addClassName(tr,'pRowSel');
	} else {
		kj.delClassName(tr,'pRowSel');
	}
});

</script>