<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购物车-{cfg:(site_title,sys)}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
</head>
<body class="gbig">
{include(label.header)}
<div class="top">
	<h1>购物车</h1>
	<a href="javascript:history.back();" id="id_top_back" class="x2"><img src="images/back.png"></a>
</div>
<div class="main">
<div class="tips">
温馨提示：当前购物车为空&nbsp;&nbsp;<a href="?">跳去首页</a>
</div>
</div>
</body>
</html>