<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>提示-{cfg:(site_title,sys)}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
</head>
<body>
{include(label.header)}
<script src="index.js"></script>
<div class="top">
	<h1>消息提示</h1>
	<a href="./" class="x1"><img src="images/home.png"></a>
	<a href="javascript:history.back();" id="id_top_back" class="x2"><img src="images/back.png"></a>
</div>
<div class="findpwd mg1">
	<div class="{if( $message['code'] == 0 )}tipsright{else}tipserror{/if}" style="margin-top:20px">
		<li>{$message['tips']}</li>
		<li>
		{foreach($message["action"] as $item)}
			{if($item['time']==0)}{fun_base::url_jump($item['url'])}{/if}
			<input type="button" name="btn_pay" value="{$item['title']}" class="btn1" onclick="window.open('{$item['url']}','{$item['target']}');">&nbsp;&nbsp;
			{if($item['time']>0)}
				(<font id="id_time">{$item['time']}</font>)
				<script>
				var jump_time={$item['time']};
				function me_refresh_time() {
					jump_time--;
					kj.set("#id_time","innerHTML",jump_time);
					if(jump_time<=0) {
						window.open("{$item['url']}","{$item['target']}");
					}
				}
				setInterval("me_refresh_time()",1000);
				</script>
			{/if}
		{/foreach}
		</li>
	</div>
</div>
{include(label.footer)}
</body>
</html>