<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购物车-{cfg:(site_title,sys)}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script>
	thisdata = [];
</script>
</head>
<body class="gbig">
{include(label.header)}
<script>
	{if(cls_obj::get("cls_user")->uid==0)}
	window.location = "{cfg:(dirpath,base)}/{cfg:(basename,base)}?app_act=login";
	{/if}
</script>
<form name="frmMain" method="post" action="?app=ajax&app_act=save.order&shop_id={$shopinfo['shop_id']}">
<input type="hidden" name="info_id" value="">
<input type="hidden" name="addprice" value="">
<input type="hidden" name="paymethod" value="">
<div class="top">
	<h1>购物车</h1>
	<a href="?" class="x1"><img src="images/home.png"></a>
	<a href="javascript:history.back();" id="id_top_back" class="x2"><img src="images/back.png"></a>
</div>
{foreach($cart_list['shop'] as $item=>$shop)}
<div class="pcart" kjdata="{$shop['info']['shop_id']}" class="Tshop{$shop['info']['shop_id']}">
<div class="main">
	<div class="xgoods TareaN" id="id_menu_list">
{set $total=0}
{foreach($shop['cart'] as $key=>$cart)}
		<li>
			<span class="xinfo">
				<h3>
				{set $price=0}
					{foreach($cart['ids'] as $menu)}
					<input type="hidden" name="menuid[]" value="{$menu}">
					<b>{$cart_list['menu']['id_'.$menu]['menu_title']}</b>
					{set $price=$price+$cart_list['menu']['id_'.$menu]['menu_price']}
					{/foreach}
					<input type="hidden" name="menuprice[]" value="{$price}">
				</h3>
				<font class="Tgtotal{$key}">{fun_kj::get_price($cart_list['menu']['id_'.$menu]['menu_price']*$cart['num'])}</font>
			</span>
			<span class="btn-s1">
				<input type="button" name="btnjian" class="xbtnjian" onclick="thisjs.change_num('#id_num_{$key}',-1,this);">
				<input type="text" name="menunum[]" value="{$cart['num']}" class="xnum Tgnum" id="id_num_{$key}" onkeyup="thisjs.change_num('#id_num_{$key}',this.value,1);">
				<input type="button" name="btnjia" class="xbtnjia" onclick="thisjs.change_num('#id_num_{$key}',1);">
			</span>
			<span class="ybtn">
				<img src="images/del.png" onclick="thisjs.remove(this)" style="cursor:pointer">
			</span>
		</li>
{/foreach}
	</div>
	<div class="xbtn TareaN">
		<a href="{fun_get::url(array('shop_id'=>$shop['info']['shop_id']))}" class="btn-a1"><font>去 结 算</font></a>
	</div>
</div>
</div>
{/foreach}
</form>
{include(label.footer)}
<script>
var thisjs = new function() {
	this.change_num = function(obj,val,ischange) {
		var objp = kj.parent(obj , "li");
		var objnum = kj.obj(".Tgnum" , objp);
		if(!objnum || !('length' in objnum)) return;
		var num = ischange ? val : kj.toint(objnum[0].value) + val;
		if(num<=0) this.remove(obj);
		objnum[0].value = num;
		this.save_cookie();
	}
	this.save_cookie = function() {
		var arr_table = kj.obj(".pcart");
		var j , arr , arr_shop = [] , shop_id , k;
		for(var i = 0 ; i < arr_table.length ; i++) {
			arr_menuid = kj.obj(":menuid[]" , arr_table[i]);
			arr_menunum = kj.obj(":menunum[]" , arr_table[i]);
			arr = [];
			for(k = 0 ; k < arr_menuid.length ; k++) {
				num = kj.toint(arr_menunum[k].value);
				for(j = 0 ; j < num ; j++) {
					arr[arr.length] = arr_menuid[k].value;
				}
			}
			shop_id = kj.getAttribute(arr_table[i] , 'kjdata');
			arr_shop[arr_shop.length] = shop_id + ":" + arr.join("|");
		}
		var ids = arr_shop.join("||");
		kj.cookie_set("cart_ids" , ids , 24);
	}
	this.remove = function(obj) {
		var objtable = kj.parent(obj , '.pcart');
		kj.remove(kj.parent(obj,'li'));
		var objrow = kj.obj("li",objtable);
		if(objrow.length<1) {
			var shop_id = kj.getAttribute(objtable , 'kjdata');
			kj.remove(".Tshop"+shop_id);
		}
		thisjs.save_cookie();
	}
}
</script>
</body>
</html>