<?php $weekday = date("w");?>
{foreach($shop_list["list"]  as $item)}
	{set $arr_opentime=tab_meal_shop::get_opentime($item['shop_id'])}
	{set $isclose=0}
	{if($item['shop_state']==-1 || $arr_opentime['nowindex']<1 ||  (!empty($item['extend']['weekday']) && !in_array($weekday,$item['extend']['weekday'])) || ($item['shop_day_limit']>0 && $item['shop_day_sold']>=$item['shop_day_limit']))}
	{set $isclose=1}
	{/if}
<a href="?app_act=shop&id={$item['shop_id']}"{if($isclose==1)} class="Tclose"{/if}>
	<div class="ximg"><img src = "{if(empty($item['shop_pic_small']))}{$temp_url}images/nopic.png{else}{$item['shop_pic_small']}{/if}"></div>
	<div class="xinfo{if(isset($act_info['method']['id_'.$item['shop_id']]))} xh2{else} xh1{/if}">
		<li{if(!isset($act_info['method']['id_'.$item['shop_id']]))} style="margin-top:4px"{/if}><font class="xtit">{$item['shop_name']}</font>{if(!empty($item['len']))}<i>{$item['len']}km</i>{/if}</li>
		<li><label class="starbg" style="margin-top:3px"><font style="width:{$item['commentrate']}%"></font></label>&nbsp;&nbsp;&nbsp;销量{$item['shop_sold']}单</li>
		<li>{if(empty($item['shop_addprice']))}免费配送{else}配送费{$item['shop_addprice']}元{/if} &nbsp;&nbsp;|&nbsp;&nbsp;{$item['shop_dispatch_price']}元起送&nbsp;&nbsp;|&nbsp;&nbsp;{$item['extend']['arrivedelay']}分钟送达</li>
		{if(isset($act_info['method']['id_'.$item['shop_id']]))}
		<li>
				{foreach($act_info['method']['id_'.$item['shop_id']] as $act_item=>$act)}
					{if($act['id']==1)}
					<img src="images/act_3.png">&nbsp;
					{else if($act['id']==2)}
					<img src="images/act_1.png">&nbsp;
					{else if($act['id']==3 || $act['id']==4)}
					<img src="images/act_5.png">&nbsp;
					{else if($act['id']==5 || $act['id']==6)}
					<img src="images/act_4.png">&nbsp;
					{/if}
				{/foreach}
		</li>
		{/if}				
	</div>
	{if($isclose==1)}
	<div class="{if(isset($act_info['method']['id_'.$item['shop_id']]))}xoff2{else}xoff1{/if}">{if($item['shop_day_limit']>0 && $item['shop_day_sold']>=$item['shop_day_limit'])}今日售完{else if($item['shop_state']==-1)}休息中{else if($arr_opentime['havenext']==1)}即将开始{else}明天继续{/if}</div>
	{/if}
</a>
{if(cls_obj::get("cls_user")->is_login())}
{if($item['iscollect'])}<font class="collect2 id_collect_{$item['shop_id']}{if($isclose==1)} Tclose{/if}" onclick="jsmeal.collect_cancel({$item['shop_id']},this);"></font>{else}<font class="collect1 id_collect_{$item['shop_id']}{if($isclose==1)} Tclose{/if}" onclick="jsmeal.collect({$item['shop_id']},this);"></font>{/if}{/if}
{/foreach}
<input type="hidden" id="id_pages" value="{$shop_list['pageinfo']['pages']}">