{include(header)}
<div class="pMenu" id="id_pMenu">
	<li class="sel">管理</li>
	<li onclick="admin.menu_display(0);" class = "x_btn">查找</li>
	<li class="fdpic" onclick="master_open({url:'common.php?app=config&app_module=user&dir={$app_dir}&key=other.pay.refund&filename=other',title:'设置字段',w:400});">&nbsp;</li>
</div>
<div class="btnMenuDiv" id="id_btnMenuDiv"{if($arr_list['issearch']==0)} style="display:none"{/if}>
<li>用户：<input type="text" name="s_uname" value="{fun_get::get('s_uname')}" class='pTxt1'>&nbsp;&nbsp;&nbsp;订单号：<input type="text" name="s_number" value="{fun_get::get('s_number')}" class='pTxt1'>&nbsp;&nbsp;&nbsp;金额：<input type="text" name="s_val1" value="{fun_get::get('s_val1')}" class='pTxt1 pTxtL60'>&nbsp;到&nbsp;<input type="text" name="s_val2" value="{fun_get::get('s_val2')}" class='pTxt1 pTxtL60'>&nbsp;&nbsp;&nbsp;退款时间：<input type="text" name="s_addtime1" value="{fun_get::get('s_addtime1')}" class='pTxtDate' onfocus="new Calendar().show(this);"> 到 <input type="text" name="s_addtime2" value="{fun_get::get('s_addtime2')}" class='pTxtDate' onfocus="new Calendar().show(this);"></li>
<li>状态：<select name="s_state">
<option value="-999">不限</option>
{foreach($arr_state as $item=>$key)}
<option value="{$key}"{if($key==fun_get::get("s_state"))} selected{/if}>{$item}</option>
{/foreach}
</select>&nbsp;&nbsp;支付方式：<select name="s_method">
<option value="">不限</option>
{foreach($arr_method as $item=>$key)}
<option value="{$item}"{if($item==fun_get::get("s_method"))} selected{/if}>{$key["fields"]['title']}</option>
{/foreach}
</select>　<input type="button" name="btn_s_ok" value="查找" class="pBtn" onclick="admin.search();"> 　<input type="button" name="btn_s_clear" value="清空" class="pBtn" onclick="admin.clear_search();"></li>
</table>
</div>
<div class="pMain" id="id_main">
<div class="pTableBox" id="id_table_box">
	<div class='pTableTit' id="id_table_title">
		<li><span class="x_tit" style="width:25px">&nbsp;</span></li>
		{foreach($arr_list["tabtit"] as $item)}
			<li><span class="x_tit"{if($item["w"]>0)} style="width:{$item["w"]}px"{/if} onclick="admin.table.list1.sort('{$item['key']}')">{$item["name"]}
			{if(isset($arr_list['sort'][$item['key']]))}<img src="images/sort_{$arr_list['sort'][$item['key']]}.png">{/if}</span><span class="x_split"></span></li>
		{/if}
	</div>
	<div class="pTableList" id="id_table_list">
		<div class='pTable' id="id_table">
			{foreach($arr_list['list'] as $item)}
			<div class='pTabRow'>
				<li><input type='checkbox' name='selid[]' value="{$item['menu_id']}"></li>
				{foreach($arr_list["tabtd"] as $field)}
					<li>{if(empty($item[$field]))}&nbsp;{else}{$item[$field]}{/if}</li>
				{/foreach}
			</div>
			{/foreach}
		</div>
	</div>
</div>
</div>
<div class="pPage" id="id_pPage">
{$arr_list['pagebtns']}
</div>
<div class="pFootAct" id="id_pFootAct">
<li>
<label><input type='checkbox' name='selall' value='1'>全选</label>　
	&nbsp;<input type="button" name="btnExe" value="同步退款状态" onclick="thisjs.tongbu();" class="pBtn" id="id_btntongbu">
</li>
</div>
<script src="admin.table.js"></script>
<script src="/common/js/kj.progress.js"></script>
<script>
//初始化表格控件
kj.onload(function(){
admin.table.list1.init('#id_table_title' , '#id_table');
});
//自动保存
admin.table.list1.save_resize = function() {
	var lng_w = (kj.w(this.field));
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=save_resize&filename=other&key=other.pay.refund&index=" + this.fieldsindex + "&w=" + lng_w , function(data){
		//alert(data);
	});
}
admin.table.list1.sort = function(key) {
	kj.ajax.get("common.php?app=config&app_module=user&dir={$app_dir}&app_act=sort&filename=other&key=other.pay.refund&sortby=" + key , function(data){
			var obj_data=kj.json(data);
			if(!obj_data.isnull) {
				admin.refresh();
			}
	});
}
//当前页面js对象
var thisjs = new function() {
	this.tongbu = function(val) {
		kj.obj("#id_btntongbu").disabled = true;
		kj.obj("#id_btntongbu").value="正在同步...";
		kj.ajax.get("{fun_get::url(array('app_act'=>'tongbu'))}" , function(data) {
			var objdata = kj.json(data);
			if(objdata.isnull) {
				kj.obj("#id_btntongbu").disabled = false;
				kj.obj("#id_btntongbu").value="重新试试";
				alert("系统繁忙");return;
			}
			if(objdata.code == 0) {
				kj.progress.show1.open({id:'tongbu',title:'正在同步退款状态',size:objdata.total,w:500});
				thisjs.tongbu_next();
			} else {
				alert(objdata.msg);
			}
		});
	}
	this.tongbu_next = function(id) {
		kj.ajax.get("{fun_get::url(array('app_act'=>'tongbu.go','id'=>''))}&id="+id , function(data) {
			var objdata = kj.json(data);
			if(objdata.isnull) {
				kj.obj("#id_btntongbu").disabled = false;
				kj.obj("#id_btntongbu").value="重新试试";
				alert("系统繁忙");return;
			}
			kj.progress.show1.step('tongbu');
			objdata.nextid = kj.toint(objdata.nextid);
			if(objdata.nextid > 0) {
				thisjs.tongbu_next(objdata.nextid);
			} else {
				kj.progress.show1.close('tongbu');
				kj.alert.show("同步完成");
				location.reload(true);
			}
		});
	}
}
</script>
{include(footer)}