{include(header)}
<script src="/components/report/jquery.min.js"></script>
<style>
.me_div1{float:left;margin:10px 0px 10px 20px}
</style>
<div class="pMenu" id="id_pMenu">
	<li style="font-weight:bold"><input type="hidden" name="url_shop_id" value="{$admin_shop['id']}" id="id_url_shop_id"><span class="more1" onmouseover="kj.windiv({'id':'shop_user_windiv','fid':this,'src':'common.php?app=meal&app_act=shop1'});" id="id_shop_user">店铺：{if(empty($admin_shop["name"]))}选择{else}{$admin_shop["name"]}{/if}</span></li>
	<li{if(fun_get::get("channel")=='')} class="sel"{/if} onclick="admin.refresh_url(['channel=']);">订单量</li>
	<li{if(fun_get::get("channel")=='money')} class="sel"{/if} onclick="admin.refresh_url(['channel=money']);">成交额</li>
</div>
<div class="btnMenuDiv" id="id_btnMenuDiv">
		<div class="me_div1">
		统计模式：<label><input type="radio" name="mode" value="day" checked onclick="admin.refresh_url(['mode=']);">按天</label>&nbsp;&nbsp;<label><input type="radio" name="mode" value="month"{if($mode=='month')} checked{/if} onclick="admin.refresh_url(['mode=month']);">按月</label>&nbsp;&nbsp;<label><input type="radio" name="mode" value="year"{if($mode=='year')} checked{/if} onclick="admin.refresh_url(['mode=year']);">按年</label>
		</div>
		<div class="me_div1">
			<span id="id_mode_day" style="float:left;padding-left:60px{if($mode=='year' || $mode=='month')};display:none{/if}">日期：<input type="text" id="id_day_date" name="date" value="{fun_get::get('date')}" class='pTxtDate' onfocus="new Calendar().show(this,null,function(){admin.refresh_url(['date='+kj.obj('#id_day_date').value]);});"> </span>
			<span id="id_mode_month" style="float:left;padding-left:60px{if($mode!='year' && $mode!='month')};display:none{/if}">
				<select name="year" onchange="admin.refresh_url('year='+this.value);">
				{for($i=2012;$i<=date("Y");$i++)}
				<option value="{$i}"{if(fun_get::get("year")==$i)} selected{/if}>{$i}年</option>
				{/for}
				</select>
			</span>
			<span id="id_mode_year" style="float:left;padding-left:20px{if($mode!='month')};display:none{/if}">
				<select name="month" onchange="admin.refresh_url('month='+this.value);">
				{for($i=1;$i<13;$i++)}
				<option value="{$i}"{if(fun_get::get("month")==$i)} selected{/if}>{$i}月</option>
				{/for}
				</select>
			</span>
		</div>
</div>
<div id="container" style="float:left;width:98%;height:500px">
</div>
<script type="text/javascript">
//店铺选择回调函数
function shop1_callback(o) {
	if("id" in o) {
		kj.set("#id_url_shop_id" , "value" , o.id);
		admin.refresh();
	}
}

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {$report['sub']}
            },
            yAxis: {
                title: {
                    text: '{if(fun_get::get("channel")=="money")}成交额{else}订单量{/if}'
                }
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '{if(fun_get::get("channel")=="money")}成交额统计{else}订单量统计{/if}',
                data: {$report['data']}
            }]
        });
    });
    
});
		</script>
<script src="/components/report/highcharts.js"></script>
{include(footer)}